#toast-container > .toast {
    background-image: none !important;
}

    #toast-container > .toast:before {
        position: fixed;
        font-family: FontAwesome;
        font-size: 24px;
        line-height: 18px;
        float: left;
        color: #FFF;
        padding-right: 0.5em;
        margin: auto 0.5em auto -1.5em;
    }

#toast-container > .toast-warning:before {
    content: "\f06a";
}

#toast-container > .toast-error:before {
    content: "\f071";
}

#toast-container > .toast-info:before {
    content: "\f05a";
}

#toast-container > .toast-success:before {
    content: "\f00c";
}

.form-label {
    color: red
}

body {
    font: 14px "Open Sans", "Arial", sans-serif;
}

video {
    margin-top: 2px;
    border: 1px solid black;
}

.button {
    cursor: pointer;
    display: block;
    width: 160px;
    border: 1px solid black;
    font-size: 16px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 4px;
    color: white;
    background-color: darkgreen;
    text-decoration: none;
}

h2 {
    margin-bottom: 4px;
}

.left {
    margin-right: 10px;
    float: left;
    width: 160px;
    padding: 0px;
}

.right {
    margin-left: 10px;
    float: left;
    width: 160px;
    padding: 0px;
}

.bottom {
    clear: both;
    padding-top: 10px;
}